<div class="main">
    <nav>
        <a href="/index.html" class="activePage">Home</a>
        <a href="/games/browse.html">Browse</a> 
        <a href="/games/play.html">Play</a>  
        <a href="/games/edit.html" >Edit</a> 
    </nav>