<footer class="endPage">
    <div>
        <h1>
            Find us on:
        </h1>
        <img src="/icons/insta.png" alt="Instagram Logo">
        <img src="/icons/twitter.png" alt="Twitter Logo">
        <img src="/icons/stack.png" alt="StackOverflow Logo">
        <img src="/icons/git.png" alt="GitHubLogo">
    </div>
</footer>
</body>
</html>